.verde {
    color: green;

}
h1 {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: blue;
}

h1 {
    color: purple;
}

.titulos.grandes {
    font-size: 50px;
}

