div {
    border: 4px dotted blue;
    width: fit-content;
    font-size: 24px;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    /*shorthand */
    /* .1 valor = mesmo.valor pra todos os lados */
    padding: 10px;
    /* 2 valores = primeiro. top bottom ./segundo./rigth e left*/
    padding: 10px 10px;

    /* 3 valores  =+ 1 top/right e left/ 3 bottom*/
    padding:10px  10px  10px;

/* 4 valores 1 top/2 right/33botom/4 left*/
padding: 10px  10px  10px  10px;

padding-inline: 10px;/* apdding na horizontal*/
padding-block: 10px;/*padding na vertical*/
}