.Caixa_width {
    border-width:  2px;
    border-style: solid;
    border-color: firebrick;

    border: 2px solid firebrick;

    width: 200px;
}

.imagem_width {
    width: 300px;
}

.caixa_height {
    border: 1px dashed greenyellow;

    height: 500px;
    width: 300px;
}